body {
    padding: 5px;
    margin: 5px;
    background-color: red;
    font-family: 'Kalam', cursive;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
#change-devoured {
  background-color: green;
}

 .img-fluid.mini {
   height: 400px;
   width: auto;
 }