body {
    padding: 5px;
    margin: 5px;
    background-color: #faebd7;
    font-family: 'Kalam', cursive;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
 img {
  height: 200px;
  width: 200px;
 }