body {
    padding: 5px;
    margin: 5px;
    font-family: 'Kalam', cursive;
  }
  
  .form-group {
    padding: 5px;
    margin: 5px;
  }
  .card-body {
    background-color: #f2a359;
  }

 .img-fluid.mini {
  height: ;
 }